<!DOCTYPE html>
<html>
  <head>
    <title>IdeaBox</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

    <body>
      <nav>
        <p>Idea Box</p>
        <ul>
          <li><%= link_to 'Welcome', root_path %></li>
          <li><%= link_to 'Log Out', logout_path %></li>

          <% if current_admin? %>
          <li><%= link_to 'Categories', admin_categories_path %></li>
          <li><%= link_to 'Images', admin_images_path %></li>
          <% end %>
        </ul>
        </nav>
      <%= yield %>
  </body>
</html>
